{% extends 'base.html.twig' %}

{% block title %}UserBackOffice{% endblock %}

{% block body %}
<section class="container">

    <h1>UserBackOffice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_back_office.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user_back_office.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user_back_office.roles ? user_back_office.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user_back_office.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_back_office_index') }}">back to list</a>

    <a href="{{ path('app_user_back_office_edit', {'id': user_back_office.id}) }}">edit</a>

{{ include('user_back_office/_delete_form.html.twig') }}</section>

{% endblock %}
