{% extends 'base.html.twig' %}

{% block title %}Drop index{% endblock %}

{% block body %}
    <h1>Drop index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>NftQuantity</th>
                <th>Category</th>
                <th>LaunchPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drop in drops %}
            <tr>
                <td>{{ drop.id }}</td>
                <td>{{ drop.name }}</td>
                <td>{{ drop.description }}</td>
                <td>{{ drop.nftQuantity }}</td>
                <td>{{ drop.category }}</td>
                <td>{{ drop.launchPrice }}</td>
                <td>
                    <a href="{{ path('app_drop_show', {'id': drop.id}) }}">show</a>
                    <a href="{{ path('app_drop_edit', {'id': drop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_drop_new') }}">Create new</a>
{% endblock %}
