{% if  app.user and app.user.roles("ROLE_ADMIN") %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light container">
		<a class="navbar-brand col-lg-2" style="color: #00b894" href="#">Viper.co Administration</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse col-lg-4" id="navbarNav">

			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" style="color: #0984e3" href="{{ path('app_default') }}">Acceuil
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: #0984e3" href="{{ path('app_user_index') }}">Utilisateurs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: #0984e3" href="{{ path('app_collecs_index') }}">Collections</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: #0984e3" href="{{ path('app_nft_index') }}">Nfts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: #0984e3" href="{{ path('app_air_drop_index') }}">Airdrop</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: #0984e3" href="{{ path('app_history_index') }}">Historique</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: #0984e3" href="{{ path('app_category_index') }}">Categories</a>
				</li>
			</ul>
		</div>

		<div class=" col-lg-1"></div>

		<ul class="navbar-nav">

			<div class="d-flex justify-content-between">
				<li class="nav-item">
<a class="nav-link" style="color: #e17055" href="{{ path('app_user_show', {'id': app.user.id}) }}">Votre compte</a>



				</li>
				<li class="nav-item">
					<a class="nav-link" style="color: #d63031" href="{{ path('app_logout') }}">Se déconnecter</a>
				</li>
			</div>
		</ul>

	</nav>
{% endif %}
